@import 'Colors';
.home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .spinner {
    align-self: center;
  }
  a {
    display: none;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.4s;
    padding: 0.6em 1.2em;
    color: $border;
    background-color: $secondary;
    align-self: center;
    border-radius: 3px;
    box-shadow: 3px 3px 10px $shadow;
  }
  .project-carousel {
    max-height: 80vh;
    max-width: 90%;
    img {
      max-width: 100%;
      max-height: 50vh;
      margin: auto;
      height: 50vh;
    }
  }
}

@media (max-width: 500px) {
  .home {
    height: 100vh;
    a {
      position: fixed;
      z-index: 100;
      display: block;
      top: 80%;
    }
  }
  .project-carousel {
    max-height: 100vh;
    img {
      max-height: 100vh;
    }
  }
}
