@import 'Sidebar';
@import 'Home';
@import 'Portfolio';
@import 'Contact';
@import 'About';
.main {
	display: flex;
	height: 100vh;
	background: #f8f8f8;
	.button-container {
		display: none;
		.burger-btn {
			margin-top: 0.5em;
			margin-right: 1em;
			background-color: $secondary;
			border-radius: 40px;
			padding: 0.5em;
			box-shadow: 2px 2px 10px $shadow;
			.burger-squeeze {
				font-size: 10px;
			}
		}
	}

	main {
		flex: 4;
		height: 100vh;
		overflow: auto;
		transition: all 0.4s;
	}
}

button,
button:focus,
button:active {
	cursor: pointer;
	outline: none;
	border: none;
}

@media (max-width: 500px) {
	.main {
		.button-container {
			position: absolute;
			display: flex;
			justify-content: flex-end;
			width: 100%;
			z-index: 1000;
		}

		.open {
			flex: 0;
			transition: all 0.4s;
		}
	}
}
