@import 'Sidebar';
@import 'Home';
@import 'Portfolio';
@import 'Contact';
@import 'About';
.main {
	display: flex;
	height: 100vh;
	background: #f8f8f8;
	main {
		flex: 4;
		height: 100vh;
		overflow: auto;
	}
}

button,
button:focus,
button:active {
	cursor: pointer;
	outline: none;
	border: none;
}
