.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  button {
    background-color: #0f131a !important;
    &:hover {
      background-color: #2a2d33 !important;
    }
  }
  .cover {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-logo {
      text-align: center;
      width: 20%;
      img {
        max-width: 50%;
        margin: auto;
      }
      button {
        width: 100%;
      }
    }
  }

  .banner-wrapper {
    height: 100vh;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

.project-segment {
  border: 3px solid #fff;
  transition: all ease-in-out 0.08s;
  &:hover {
    border-color: rgba(0, 0, 0, 0.6);
  }
}

.contact-container {
  padding: 1em;

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    input,
    textarea {
      margin: 0.5em auto;
    }
    button {
      background-color: #0f131a !important;
      &:hover {
        background-color: #2a2d33 !important;
      }
      width: 60%;
      margin: 0.5em auto;
    }
  }
}

.container-wrapper {
  width: 80%;
  margin: 1em auto;
  p,
  h3 {
    text-align: center;
  }
}

#about {
  background-color: #0f131a;
  color: #f8f8f8;
  padding: 1em 0;
  p {
    width: 60%;
    margin: auto;
    line-height: 1.8;
    font-size: 1.3rem;
  }
}

.rs-header,
.rs-navbar {
  background-color: #0f131a !important;
  a {
    color: #fff !important;
    &:hover,
    &:active,
    &:focus {
      color: #0f131a !important;
    }
  }
}

footer {
  min-height: 10vh;
  background-color: #2a2d33;
  color: #f8f8f8;
  a {
    color: #f8f8f8 !important;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    &:hover {
      opacity: 0.8;
    }
  }
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.anchor-social-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  div {
    margin: 0.5em;
  }
}

.policy-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.rs-modal {
  z-index: 10000 !important;
}

@media (max-width: 1920px) {
  .hero {
    .cover {
      .banner-logo {
        text-align: center;
        width: 30% !important;
        img {
          max-width: 40%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .icon-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .policy-links {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hero {
    .cover {
      .banner-logo {
        text-align: center;
        width: 80% !important;
        img {
          max-width: 80%;
          margin: auto;
        }
        button {
          width: 100%;
        }
      }
    }
  }
  .contact-container {
    form {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .cover {
      .banner-logo {
        text-align: center;
        width: 40% !important;
        img {
          max-width: 80%;
          margin: auto;
        }
        button {
          width: 100%;
        }
      }
    }
  }

  .contact-container {
    form {
      width: 60%;
    }
  }
}
